<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <style>
        .btn-primary {
            color: #fff;
            background-color: #6c757d6b;
            border-color: #6c757d7a;
            margin-right: 100px;
        }
        .container{
            margin-top: 300px;
            margin-left: 600px;
        }
        h1{
            text-align: center;
        }
        /* Center-align the h1 element */
        h2 {
            text-align: center;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div th:if="${oauth2User != null}">
    <title>Home</title>
    <h1>Home Page</h1>
    <div class="container">
        <a class="btn btn-primary" href="/profile">View Profile</a>
        <a class="btn btn-primary" href="/reservation">Rent a Car</a>
        <a class="btn btn-primary" href="/logout">Logout</a>
    </div>
</div>

<div th:if="${oauth2User == null}">
    <title>Login</title>
    <div class="container2">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <form name="f" th:action="@{/login}" method="post">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="username" id="username" name="username">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="password" id="password" name="password">
                        </div>
                        <div class="form-group" align="center">
                            <input type="submit" value="Login" class="btn login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <a class="btn btn-block btn-primary" href="/oauth2/authorization/asgardeo"><i class="fa fa-sign-in-alt mx-2"></i>Sign In with Asgardeo</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</div>

</body>
</html>