<!doctype html>
<html lang="en" xmlns=”http://www.w3.org/1999/xhtml" xmlns:th=”http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DriveEase</title>
</head>
<body>

<h1>Welcome to DriveEase</h1>

<div>
    You are successfully logged in as
    <span style=”font-weight:bold” th:text=”${userName}”></span>
</div>
<div>
    Claims found in the ID token
    <div><span style=”font-weight:bold” th:text=”${IDTokenClaims}”></span></div>
</div>

</body>
</html>