<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
        .btn-primary {
            color: #fff;
            background-color: #6c757d6b;
            border-color: #6c757d7a;
            margin-top: 20px;
        }
        body {
            text-align: center;
        }
        p{
            margin-top: 10px;
            font-size: large;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Profile Details
        <p>UserName: <span th:text="${username}"></span></p>
        <p>Email: <span th:text="${email}"></span></p>
        <p>Name: <span th:text="${name}"></span></p>
        <p>Mobile: <span th:text="${contactNo}"></span></p>
        <p>Country: <span th:text="${country}"></span></p>
    </h1>
    <a class="btn btn-primary" href="/">Return to Home Page</a>
</div>
</body>
</html>