<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>

    <h2>User Profile</h2>
    <p>Username: <span th:text="${user.username}"></span></p>
    <p>Name: <span th:text="${user.name}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
    <p>Contact Number: <span th:text="${user.contactNumber}"></span></p>
    <p>Country: <span th:text="${user.country}"></span></p>

</body>
</html>